{% extends 'base.html' %}
{% load static %}
{% block title %}
Administrative Control
{% endblock title %}
{% block body %}
<style>
  #page3{
      color: blue;
  }
</style>
<center>
  <h4>Administrative Control</h4>
</center>
<div class="container">
  {% if messages %}
  {% for i in messages %}
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <div>
      <center>{{i}}</center>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <table class="table m-3">
    <a href="{% url 'index' %}"><button class="btn btn-success m-2">homepage</button></a>
    <thead>
      <tr>
        <th scope="col">Sl. no.</th>
        <th scope="col">Room Number</th>
        <th scope="col">Name</th>
        <th scope="col">Roll Number</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in dataline %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.room_number}}</td>
        <td>{{i.students_name}}</td>
        <td>{{i.roll_number}}</td>
        <td><a href="{% url 'edit' i.pk %}"><button class="btn btn-success">edit</button></a></td>
        <td><a href="{% url 'delete' i.pk %}"><button class="btn btn-danger">delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}